* {
  word-break: keep-all;
  font-family: sans-serif;
  font-weight: 500;
}

body {
  padding-right: 15px;
  padding-left: 0px;

  width: 90vw;
}

p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

h6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid black;

  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: -3px;
}

a:hover{
  color: white;
  background-color: black;
}

a:active {
  color: black;
}



.updates {
  background-color: : blue;
}

.Category {
  font-family: monospace;
  font-weight: 300;
  font-size: 10px;

  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid black;

  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
}



.iframe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -99;
  border: none;
}


.logo-top {
  width: 50%;
  margin-bottom: -20px;
  left: 25vw;

  position: relative;
  display: inline-block;
}

.list {
  text-align: left;
  justify-content: flex-start;
  font-size: 20px;
  line-height: 33px;
  word-space: 10px;
}

.X {
  width: 100vw;
  height: 100vh;
  rotate: 45deg;
}
.studio-border {
  display: block;

  width: 100vw;
  height:1px;
  border-bottom:1.5px dashed black;
  margin-top: 6px;
  margin-bottom: 10px;

  position: relative;
  left:-48px;
}

.bottom-line {
  display: block;

  width:100vw;
  height:50px;
  border-bottom:1px solid black;

  position: relative;
  left: -48px;

}
.footer {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: 70vw 1fr;
  grid-gap: 10px;


  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
